* {
  margin: 0;
  border: 0;
  padding: 0;
}

.background {
  background: linear-gradient(to right, #6b8b88, #6e8887);
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: lightgreen;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  width: 80%;
  max-height: 80vh;
  height: 80%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

/*
*responsivity needs to be adjusted with these numbers. based on mobile screen size
*/
.side {
  /*border: 0.1px solid black;*/
  min-width: 250px;
  max-height: 500px;
  flex-grow:1;
}

.left {
  background: url("img/iceland.jpg") center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.right {
  background-color: #6d8d8c;
}
